:root {
  --colour-palette-1: rgb(34, 8, 138);
  --colour-palette-2: rgb(20, 85, 206);
  --colour-palette-3: rgb(101, 142, 228);
  --colour-background: rgb(228, 240, 245);
}

/* Body styles */

body {
  display: flex;
  flex-direction: column;
  font-family: monospace, Arial, sans-serif;
  line-height: 1.3;
  background-color: rgb(239, 239, 247);
}

/* Header styles */

header {
  padding: 1%;
  margin-bottom: 10%;
  width: 100%;
  background-image: url(../images/workstation-image.jpeg);
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 450%;
  color: var(--colour-palette-2);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 19em;
}

nav {
  display: flex;
  width: 23%;
  overflow: auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav li {
  margin: 0;
  padding: 1%;
  font-size: 120%;
  text-align: center;
  list-style: none;
}

nav a {
  color: var(--colour-palette-2);
}

#about-me-link:hover a, #my-work-link:hover a, #contact-me-link:hover a {
  cursor: pointer;
  color: white;
}

/* Main styles */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-size: 250%;
  padding: 1%;
  text-align: center;
  width: 100%;
  color: var(--colour-palette-1);
  text-decoration: underline;
}

section {
  padding: 1%;
  margin-bottom: 1%;
}

/* About me styles */

.about-me-section {
  padding: 1%;
  margin-bottom: 1%;
  height: 43.75em;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 39.25em;
  width: 100%;
}

#about-me {
  display: inline-block;
  margin-bottom: 2%;
}

#about-me-image {
  height: 18.75em;
}

#about-me-blurb {
  line-height: 2;
  padding: 2% 10%;
  font-size: 110%;
}

/* My work styles */

.work-section {
  margin-bottom: 5%;
  height: 56.25em;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  height: 43.75em;
  justify-content: space-evenly;
  align-items: stretch;
  width: 100%;
  padding: 1%;
}

.image-content {
  position: relative;
  border: 5px solid var(--colour-palette-1);
}

.image-content img {
  opacity: 50%;
  transition: 0.2s;
}

#main-image-content {
  width: 100%;
}

#main-work {
  height: 31.25em;
  width: 100%;
}
.main-work, .other-work-1, .other-work-2, .other-work-3, .other-work-4 {
  display: flex;
  flex-wrap: wrap;
}

#work-descript-main, #work-descript-1, #work-descript-2, #work-descript-3, #work-descript-4 {
  border: 0.15em solid black;
  position: absolute;
  top: 40%;
}

.image-content:hover img {
  opacity: 100%;
  cursor: pointer;
}

.work-box {
  padding: 1%;
  background-color: var(--colour-palette-1);
  color: var(--colour-background);
  line-height: 1.5;
}

#work-1-blurb {
  font-size: 150%;
}

#work-descript-main {
  height: 6em;
  width: 20%;
}

/* Contact section styles */

.contact-section {
  width: 100%s;
  line-height: 1.5;
}

#contact-me {
  padding-bottom: 5%;
}

.contact-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 19em;
  width: 100%;
}

.contact-me-list {
  display: flex;
}

.contact-me-list ul {
  display: flex;
  justify-content: space-between;
}

.contact-me-list li {
  list-style: none;
  margin: 0%;
  margin-right: 10%;
  margin-bottom: 5%;
  text-align: center;
  width: 100%;
}

.contact-me-list:hover li {
  cursor: pointer;
}

#contact-phone:hover a, #contact-email:hover a, #contact-github:hover a, #contact-4th-placeholder:hover a {
  color: var(--colour-palette-2);
}

/* Footer styles */

footer {
  position: relative;
}

/* Media Queries */

@media screen and (max-width: 992px) {
  header, main, footer {
    flex-direction: column;
  }

  #about-me-blurb {
    margin-left: 5%;
    overflow: auto;
  }

  #work-descript-main {
    width: 30%;
    overflow: auto;
  }

  .work-section {
    overflow: auto;
  }

  .work-box {
    width: 30%;
    overflow: auto;
  }

  .contact-section {
    margin-top: 2%;
  }

}